body { padding: 0; margin: 0 }

#unity-container { position: fixed; width: 100%; height: 100%; top: 0; left: 0; }

#unity-canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 0;
}

#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none; /* shown by JS */
  z-index: 10;
  pointer-events: none;
  text-align: center;
  color: #fff;
}

#unity-logo {
  width: 128px;
  height: 128px;
  margin: 0 auto 12px;
  background: url('TemplateData/hub-logo.png') no-repeat center;
  background-size: contain;
}

#unity-progress-bar-empty {
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 18px;
  background: url('TemplateData/progress-bar-empty-dark.png') no-repeat center;
  background-size: contain;
}
#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  background: url('TemplateData/progress-bar-full-dark.png') no-repeat left center;
  background-size: contain;
  z-index: 11;
}

#unity-warning { position: absolute; left: 50%; top: 5%; transform: translateX(-50%); z-index: 20; }
